{% extends 'layouts/base_dashboard.html' %}
{% block title %}Delete Student{% endblock %}
{% block content %}
<div class="card p-4">
  <h4>Confirm delete</h4>
  <p>Are you sure you want to permanently delete student <strong>{{ student.first_name }} {{ student.last_name }}</strong> ({{ student.student_number }})?</p>
  <form method="post">
    {% csrf_token %}
    <a href="{% url 'admin_students_list' %}" class="btn btn-secondary">Cancel</a>
    <button type="submit" class="btn btn-danger">Delete</button>
  </form>
</div>
{% endblock %}
